<app-navbar></app-navbar>

<div class="container main_container">
  <div class="row">
    <div class="col-md-6">
      <div class="card text-dark bg-info mb-3">
        <div class="card-body">
          <h3 class="card-header card-title">Mit is lehet csinálni ezen a weboldalon?</h3>
          <div class="card-text">Ezen a oldalon lehet időpontot foglalni, hogy mikor szeretné hozni a TV-jét javításra</div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card text-dark bg-info mb-3">
        <div class="card-body">
          <h3 class="card-title card-header">What can you do on this website?</h3>
        </div>
      </div>
    </div>

  </div>
</div>






