<app-navbar></app-navbar>

<div class="container main_container">
  <div class="row">
    <div class="col-md-3">
      <div class="card text-dark card_custom">
        <img src="../../../assets/images/logoPng.png" class="img-fluid rounded-start" alt="logo">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card_custom text-dark mb-3">
        <h3 class="card-header "><b>Mit is lehet csinálni ezen a weboldalon?</b></h3>
        <div class="card-body">
          <div class="card-text">
            Ezen a oldalon lehet időpontot foglalni, hogy mikor szeretné hozni a TV-jét javításra. <br>
            Ahhoz, hogy az oldal minden tulajdonságát ki tudja használni, szükséges a regisztráció.
          </div>
        </div>
      </div>
      <div class="card card_custom text-dark  mb-3">
        <div class="card-body">
          <h3 class="card-header card-title"><b>Mit érdemes tudni rólunk?</b></h3>
          <div class="card-text text-dark ">
            Cégünk már hosszú ideje működik, egészen 1990-ben nyitottunk meg, azóta sok ügyfél elégedetten távozott tőlünk.
            <br>
          </div>
        </div>
      </div>
      <div class="card card_custom text-dark  mb-3" style="font-size: 16px;">
        <div class="card-body">
          <h3 class="card-header card-title"><b>Kontakt információk</b></h3>
          <div class="card-text text-dark ">
            <ul class="list-group ">
              <li class="list-group-item list-group-item-info"> <i class="fa-solid fa-phone"></i> : 024 444 777</li>
              <li class="list-group-item list-group-item-info"><i class="fa-solid fa-mobile"></i> : 061 777 88 33</li>
              <li class="list-group-item list-group-item-info"><i class="fa-solid fa-envelope"></i>: pg@elektron.com </li>
              <li class="list-group-item list-group-item-info"><i class="fa-solid fa-envelope"></i>: sugeakos@gmail.com </li>
              <li class="list-group-item list-group-item-info"><i class="fa-solid fa-map-location"></i>: Palics, Horgosi út 33, 24413 </li>
            </ul>
            <br>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
