<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
      <div class="card card_custom text-dark">
        <h3 class="card-header"><b> Keresett Tv</b></h3>
        <div class="card-body">
          <form #updateTvForm="ngForm" (ngSubmit)="onUpdateReservedDate(updateTvForm)">
            <div class="form-group">
              <label>Email</label>
              <input type="text" name="personEmail" class="form-control" readonly
                     [(ngModel)]="selectedTv.personEmail">
            </div>
            <div class="form-group">
              <label>Márka</label>
              <input type="text" name="tvCategoryDescription" readonly [(ngModel)]="selectedTv.tvCategoryDescription" class="form-control">
            </div>
            <div class="form-group">
              <label>Hiba:</label>
              <input type="text" name="errorSeenByCustomer" readonly required [(ngModel)]="selectedTv.errorSeenByCustomer" class="form-control">
            </div>
            <div class="form-group">
              <label>Idopont:</label>
              <mat-form-field class="form-control" appearance="fill">
                <mat-label>Válasszon dátumot</mat-label>
                <input matInput [formControl]="reservedDateToRepair"
                       [ngxMatDatetimePickerFilter]="myFilter"
                       [ngxMatDatetimePicker]="picker" [min]="minDate" [max]="maxDate"
                       (dateChange)="addEvent($event)">
                <mat-datepicker-toggle matSuffix
                                       [for]="picker"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker [defaultTime]="defaultTime" [stepMinute]="stepMinute" touchUi
                                         #picker></ngx-mat-datetime-picker>

                <mat-error *ngIf="reservedDateToRepair.hasError('required')">
                  Válasszon időpontot
                </mat-error>
              </mat-form-field>
            </div>
            <br>
            <button type="submit" [disabled]="reservedDateToRepair.hasError('required') || !validDateTime" class="btn-primary" >Mentés</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
