<!--Navbar-->
<div style="margin-bottom: 1%; margin-top: 1%;" class="container bootstrap snippets bootdey">

  <ul class="nav nav-pills nav-with-alerts">
    <li class="col-lg-4">
      <a routerLink="/user/index" data-toggle="tab">
        <div class="alert alert-info">
          <i class="fa-solid fa-globe"></i>
          Kezdőlap/Index page
        </div>
      </a>
    </li>
    <li class="col-lg-4">
      <a routerLink="/admin/index" data-toggle="tab">
        <div class="alert alert-info">
          <i class="fa-solid fa-globe"></i>
          Admin Kezdőlap/Admin Index page
        </div>
      </a>
    </li>

    <li class="col-lg-4">
      <a routerLink="/user/profile" data-toggle="tab">
        <div class="alert alert-info">
          <i class="fa-solid fa-id-card"></i>
          Profil/Profile

        </div>
      </a>
    </li>
  </ul>
</div>
<!--Navbar end-->
<button [hidden]="true" type="button" id="openUserInfo" data-bs-toggle="modal" data-bs-target="#viewUserInfoModal">
</button>
<!--Main container-->
<div class="container">
  <!-- Main content -->
  <div class="row">
    <!--    Users    -->
    <div class="col-md-5">

      <div class="card bg-info">
        <div class="card-body">
          <h4 class="card-header"><b>Users</b></h4>
          <div class="card-text table-responsive">
            <table class="table table table-striped table-hover ">
              <thead class="table-borderless ">
              <tr class="text-center align-middle">
                <th>Teljes név</th>
                <th>Email</th>
                <th>Felhasználónév</th>
              </tr>
              </thead>
              <tbody *ngFor="let appUser of users">
              <tr class="text-center align-middle">
                <td (click)="onSelectUser(appUser)">{{appUser?.lastName}} {{appUser?.firstName}}</td>
                <td (click)="onSelectUser(appUser)">{{appUser?.email}}</td>
                <td (click)="onSelectUser(appUser)">{{appUser?.username}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
    <!--    Users end    -->
    <!--    TV list-->
    <div *ngIf="selectedUser.firstName !== '' " class="col-md-7">

      <div class="card">
        <div *ngIf="selectedUsersTvs.length === 0" class="card-body">
          <div class="card-header">
            Nincs tv hozzárendelve <b>{{selectedUser.lastName}} {{selectedUser.firstName}}</b> felhasználóhoz.
          </div>
        </div>
        <div *ngIf="selectedUsersTvs.length !== 0" class="card-body">
          <div class="card-header">
            {{selectedUser.firstName}} TV-i
          </div>
          <div class="card-text table-responsive">
            <table class="table table table-striped table-hover ">
              <thead class="table-borderless ">
              <tr class="text-center align-middle">
                <th>Márka</th>
                <th>Észlelt hiba</th>
                <th>Lefoglalt időpont</th>
                <th>Javított hiba</th>
                <th>Javítás dátuma</th>
                <th>Javítás ára</th>
                <th>Javítás állapota</th>
                <th>Update</th>
              </tr>
              </thead>
              <tbody *ngFor="let tv of selectedUsersTvs">
              <tr class="text-center align-middle">
                <td>{{tv?.tvCategoryDescription}}</td>
                <td>{{tv?.errorSeenByCustomer}}</td>
                <td>{{tv?.reservedDateToRepair | date:'fullDate'}}</td>
                <td>{{tv?.repairedError}}</td>
                <td>{{tv?.dateOfCorrection | date:'fullDate'}}</td>

                <td>{{tv?.price}}</td>
                <td>
                  <span [hidden]="!tv?.isItStillInProgress" style="color: lawngreen;"
                        class="badge badge-success">Kész</span>
                  <span [hidden]="tv?.isItStillInProgress " style="color: red" class="badge badge-danger">Javítás alatt áll</span>
                </td>
                <td>
                  <button class="btn btn-outline-info" (click)="onEditTvByAdmin(tv)"><i class="fas fa-edit"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--    tv list end-->

  </div>

  <div *ngIf="selectedUser.firstName !== ''" style="margin-top: 1%;" class="row">
    <div class="col">
      <div class="card bg-info">
        <h3 class="card-header text-center" id="exampleModalLongTitle">
          <b>{{selectedUser?.lastName}} {{selectedUser?.firstName}}</b>
        </h3>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item user_list"><b>Email:</b>  {{ selectedUser?.email}}</li>
            <li class="list-group-item user_list"><b>Felhasználónév:</b> {{ selectedUser?.username}}</li>
            <li class="list-group-item user_list" title="lakcim"><b>Lakcím:</b> {{ selectedUser?.address}}</li>
            <li class="list-group-item user_list" title="Vonalas telefon"><b>Vonalas
              telefon:</b> {{ selectedUser?.phoneFix}}</li>
            <li class="list-group-item user_list" title="Mobil telefon">
              <b>Mobiltelefon:</b> {{ selectedUser?.phoneMobile}}</li>
            <li class="list-group-item user_list"
                title="Csatlakozas datuma"><b>Csatlakozás dátuma:</b> {{ selectedUser?.joinDate | date: 'fullDate'}}
            </li>
            <li class="list-group-item user_list"
                title="Legutobbi bejelentkezes"><b>Utolsó bejelentkezés
              dátuma:</b> {{ selectedUser?.lastLoginDate | date: 'fullDate'}}</li>
            <li class="list-group-item user_list" title="Aktivitas">
                  <span [hidden]="selectedUser?.isActive">
                      <i class="fa-solid fa-eye float-right" style="color: limegreen;">
                      </i>
                     Aktiv
                    </span>
              <span [hidden]="!selectedUser?.isActive">
                      <i class="fa-solid fa-eye-slash float-right" style="color: red;">
                      </i>
                     Inaktiv
                    </span>

            </li>

            <li class="list-group-item user_list" title="Zarolas">
                  <span [hidden]="selectedUser?.isNotLocked">
                      <i class="fa fa-unlock float-right" style="color: green;">
                      </i>
                     Nem zárolt
                    </span>
              <span [hidden]="!selectedUser?.isNotLocked">
                      <i class="fa fa-lock float-right" style="color: red;">
                      </i>
                     Zárolt
                    </span>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Main content end -->

  <!-- Edit Tv Modal -->
  <!-- modal edit user -->
  <div class="modal draggable fade bd-example-modal-lg" id="editTvByAdminModal" tabindex="-1"
       role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center">Edit {{selectedUser?.firstName}}
            Tvje</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="">
            <form #editTvForm="ngForm">
              <div class="form-group">
                <label>TV ID</label>
                <input type="text" name="firstName" required readonly
                       [(ngModel)]="updateTv.externalId" class="form-control">
              </div>
              <div class="form-group">
                <label>Tv márkája</label>
                <span class="form-control">
                  {{updateTv.tvCategoryDescription}}
                </span>

              </div>
              <div class="form-group">
                <label>Ügyfél által észlelt hiba</label>
                <span class="form-control">
                  {{updateTv.errorSeenByCustomer}}
                </span>
              </div>
              <div class="form-group">
                <label >Javítás állapota</label>
                <span *ngIf="!updateTv.isItStillInProgress" class="form-control">
                  Javitas alatt
                </span>
                <span *ngIf="updateTv.isItStillInProgress" class="form-control">
                  Kesz
                </span>
              </div>
              <div class="form-group">
                <label >Javitott hiba</label>
                <input type="text" name="repairedError" [(ngModel)]="updateTv.repairedError" class="form-control">
              </div>
              <div class="form-group">
                <label >Javitás ára</label>
                <input type="text" name="price" [(ngModel)]="updateTv.price" class="form-control">
              </div>
              <div *ngIf="updateTv?.dateOfCorrection" class="form-group">
                <label>Javítás időpontja</label>
                <input type="text" name="dateOfCorrection" [(ngModel)]="updateTv.dateOfCorrection" class="form-control">

              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeEditTvModalButton">Close
          </button>
          <button type="button" (click)="onUpdateTvByAdmin()" [disabled]="editTvForm.invalid" class="btn btn-primary">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Edit Tv Modal end -->


</div>
<!--Main container end-->
<button [hidden]="true" type="button" id="openTvEdit" data-bs-toggle="modal" data-bs-target="#editTvByAdminModal">
</button>
