<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1">
      <div [hidden]="loggedInUsersTvs.length !== 0" class="card bg-warning">
        <div class="card-body">
          <h4 class="card-header">Még nincs TV hozzárendelve {{loggedInUser.lastName}} {{loggedInUser.firstName}}
            felhasználóhoz. </h4>
        </div>
      </div>


      <div [hidden]="loggedInUsersTvs.length === 0" class="card bg-info">
        <div class="card-body">
          <h4 class="card-header text-dark"><b>{{loggedInUser?.firstName}}</b> TV-i</h4>
          <div class="card-text table-responsive">
            <ag-grid-angular
              style="width: 100%; height: 500px; background-color: black; cursor: pointer;"
              class="ag-theme-alpine ag-row-hover ag-column-hover"
              [animateRows]="true"
              (cellClicked)="onCellClicked($event)"
              (cellContextMenu)="onCellDoubleClicked($event)"
              [rowData]="rowData"
              [columnDefs]="columnDef"
              [pagination]="true"
              [paginationAutoPageSize]="true"
              (gridReady)="onGridReady($event)"
            ></ag-grid-angular>
          </div>
        </div>
      </div>
    </div>
    <!--         Update Tv Modal   -->
    <div class="modal fade" tabindex="-1" role="dialog"
         id="updateTvModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center">Tv módosítása</h5>
            <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <form #updateTvForm="ngForm">
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" name="personEmail" class="form-control" readonly
                         [(ngModel)]="loggedInUser.email">
                </div>
                <div class="form-group">
                  <label>Márka</label>
                  <select name="tvCategoryDescription" required ngModel="null" class="form-control">
                    <option value="null">Válassz márkát</option>
                    <option *ngFor="let cat of tvCategories"
                            value="{{cat?.description}}">{{cat?.description}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Hiba:</label>
                  <input type="text" name="errorSeenByCustomer" required ngModel class="form-control">
                </div>
                <div class="form-group">
                  <label>Idopont:</label>
                  <input type="date" name="reservedDateToRepair" required ngModel class="form-control">
                </div>
                <button type="submit" style="display: none;" id="update-tv-save"></button>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="update-tv-close">Close
            </button>
            <button type="button" (click)="saveNewTv()" [disabled]="updateTvForm.invalid" class="btn btn-primary">Save
              changes
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--   Update Tv Modal-end   -->
    <!--   Tv info modal   -->
    <button [hidden]="true" type="button" id="openTvInfo" data-bs-toggle="modal" data-bs-target="#viewTvInfoModal">
    </button>
    <!--   Tv edit   -->
    <button [hidden]="true" type="button" id="openTvEdit" data-bs-toggle="modal" data-bs-target="#editTvModal">
    </button>

    <!--   Tv info modal   -->
    <div class="modal fade bd-example-modal-lg" id="viewTvInfoModal" tabindex="-1" role="dialog" aria-labelledby=""
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title text-center" id="exampleModalLongTitle">
              <b>{{selectedTv?.tvCategoryDescription}}</b>
            </h3>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <div class="card">

                <ul class="list-group list-group-flush">
                  <li class="list-group-item"> {{selectedTv?.tvCategoryDescription}}</li>
                  <li class="list-group-item"><i
                    class="fa-solid fa-triangle-exclamation float-right"></i> {{selectedTv?.errorSeenByCustomer}}
                  </li>
                  <li class="list-group-item"><i
                    class="fas fa-calendar float-right"></i> {{selectedTv?.reservedDateToRepair | date:'fullDate'}}
                  </li>
                  <li *ngIf="selectedTv?.repairedError" class="list-group-item"><i
                    class="fas fa-bug-slash float-right"></i> {{selectedTv?.repairedError}}
                  <li *ngIf="selectedTv?.dateOfCorrection" class="list-group-item"><i
                    class="fas fa-calendar float-right"></i> {{selectedTv?.dateOfCorrection | date:'fullDate'}}
                  </li>
                  <li *ngIf="selectedTv?.price" class="list-group-item"><i
                    class="fa-regular fa-money-bill-1"></i> {{selectedTv?.price }}
                  </li>

                  <li class="list-group-item">
                    <span [hidden]="selectedTv?.isItStillInProgress">
                      <i class="fas fa-spinner fa-spin float-right" style="color: red;">
                      </i>
                       Javítás alatt
                    </span>
                    <span [hidden]="!selectedTv?.isItStillInProgress">
                      <i class="fa-solid fa-circle-check float-right" style="color: lawngreen;">
                      </i>
                        Kész
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!--   Tv info modal end   -->
  </div>
</div>
