<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1">
      <div [hidden]="loggedInUsersTvs.length !== 0" class="card bg-warning">
        <div class="card-body">
          <h4 class="card-header">Még nincs TV hozzárendelve {{loggedInUser.lastName}} {{loggedInUser.firstName}}
            felhasználóhoz. </h4>
        </div>
      </div>


      <div [hidden]="loggedInUsersTvs.length === 0" class="card card_custom">
        <div class="card-body">
          <h4 class="card-header text-dark"><b>{{loggedInUser?.firstName}}</b> TV-i</h4>
          <div class="card-text table-responsive">
            <ag-grid-angular
              style="width: 100%; height: 500px; background-color: black; cursor: pointer;"
              class="ag-theme-alpine ag-row-hover ag-column-hover"
              [animateRows]="true"
              (cellClicked)="onCellClicked($event)"
              (cellContextMenu)="cellContextMenu($event)"
              [rowData]="rowData"
              [columnDefs]="columnDef"
              [pagination]="true"
              [paginationAutoPageSize]="true"
              (gridReady)="onGridReady($event)"
            ></ag-grid-angular>
          </div>
        </div>
      </div>
    </div>

    <!--   Tv info modal   -->
    <button [hidden]="true" type="button" id="openTvInfo" data-bs-toggle="modal" data-bs-target="#viewTvInfoModal">
    </button>
    <!--   Tv edit   -->
    <button [hidden]="true" type="button" id="openTvEdit" data-bs-toggle="modal" data-bs-target="#editTvModal">
    </button>

    <!--   Tv info modal   -->
    <div class="modal fade  bd-example-modal-lg " id="viewTvInfoModal" tabindex="-1" role="dialog" aria-labelledby=""
         aria-hidden="true">
      <div class="modal-dialog " role="document">
        <div class="modal-content card_custom">
          <div class="modal-header">
            <h3 class="modal-title text-center" id="exampleModalLongTitle">
              <b>{{selectedTv?.tvCategoryDescription}}</b>
            </h3>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <div class="card">

                <ul class="list-group list-group-flush">
                  <li class="list-group-item"> {{selectedTv?.tvCategoryDescription}}</li>
                  <li class="list-group-item"><i
                    class="fa-solid fa-triangle-exclamation float-right"></i> {{selectedTv?.errorSeenByCustomer}}
                  </li>
                  <li class="list-group-item"><i
                    class="fas fa-calendar float-right"></i> {{selectedTv?.reservedDateToRepair | date:'yyyy-MM-dd HH:mm:ss'}}
                  </li>
                  <li *ngIf="selectedTv?.repairedError" class="list-group-item"><i
                    class="fas fa-bug-slash float-right"></i> {{selectedTv?.repairedError}}
                  <li *ngIf="selectedTv?.dateOfCorrection" class="list-group-item"><i
                    class="fas fa-calendar float-right"></i> {{selectedTv?.dateOfCorrection | date:'yyyy-MM-dd HH:mm:ss'}}
                  </li>
                  <li *ngIf="selectedTv?.price" class="list-group-item"><i
                    class="fa-regular fa-money-bill-1"></i> {{selectedTv?.price }}
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!--   Tv info modal end   -->
  </div>
</div>
