<!--Navbar-->
<div style="margin-bottom: 1%; margin-top: 1%;" class="container bootstrap snippets bootdey">

  <ul class="nav nav-pills nav-with-alerts">
    <li class="col-lg-4">
      <a routerLink="/user/index" data-toggle="tab">
        <div class="alert alert-info">
          <i class="fa-solid fa-globe"></i>
          Kezdőlap/Index page
        </div>
      </a>
    </li>
    <li class="col-lg-4">
      <a routerLink="/user/profile" data-toggle="tab">
        <div class="alert alert-info">
          <i class="fa-solid fa-id-card"></i>
          Profil/Profile

        </div>
      </a>
    </li>
    <li class="col-lg-4">
      <a href="#" (click)="onLogOut()" data-toggle="tab">
        <div class="alert alert-info">
          <i class="fa-solid fa-terminal"></i>
          Kijelentkezés/Logout

        </div>
      </a>
    </li>


  </ul>
  <ul class="nav nav-pills nav-with-alerts">
    <li class="col-lg-3">
      <a href="/admin/index" [hidden]="!isAdminOrManager" data-toggle="tab">
        <div class="alert alert-info">
          <i class="fa-solid fa-terminal"></i>
          Admin menü

        </div>
      </a>
    </li>
  </ul>

</div>
<!--Navbar end-->

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <div [hidden]="loggedInUsersTvs.length !== 0" class="card bg-warning">
        <div class="card-body">
          <h4 class="card-header">Még nincs TV hozzárendelve {{loggedInUser.lastName}} {{loggedInUser.firstName}}
            felhasználóhoz. </h4>
        </div>
      </div>
      <button style="margin-top: 1%;margin-bottom: 1%;" type="button" class="btn btn-info" data-bs-toggle="modal"
              data-bs-target="#addTvModal">
        <i class="fa fa-plus"></i>New Tv
      </button>
      <mat-slide-toggle color="primary" arial-labelledby="check1"  >Slide me!
        <input style="display: none;" type="checkbox" role="switch" name="check1" id="check1">
      </mat-slide-toggle>
      <div [hidden]="loggedInUsersTvs.length === 0" class="card bg-info">
        <div class="card-body">
          <h4 class="card-header"><b>{{loggedInUser.firstName}}</b> TV-i</h4>
          <div class="card-text table-responsive">
            <table class="table table table-striped table-hover ">
              <thead class="table-borderless ">
              <tr  class="text-center align-middle">
                <th>Márka</th>
                <th>{{loggedInUser.firstName}} által észlelt hiba</th>
                <th>Lefoglalt időpont</th>
                <th >Javított hiba</th>
                <th>Javítás dátuma</th>
                <th>Javítás ára</th>
                <th>Javítás állapota</th>
              </tr>
              </thead>
              <tbody *ngFor="let tv of loggedInUsersTvs">
              <tr class="text-center align-middle">
                <td (click)="onSelectTv(tv)">{{tv?.tvCategoryDescription}}</td>
                <td (click)="onSelectTv(tv)">{{tv?.errorSeenByCustomer}}</td>
                <td (click)="onSelectTv(tv)">{{tv?.reservedDateToRepair | date:'fullDate'}}</td>
                <td (click)="onSelectTv(tv)">{{tv?.dateOfCorrection | date:'fullDate'}}</td>
                <td (click)="onSelectTv(tv)">{{tv?.repairedError}}</td>
                <td (click)="onSelectTv(tv)">{{tv?.price}}</td>
                <td (click)="onSelectTv(tv)">
                  <span [hidden]="!tv?.isItStillInProgress" style="color: lawngreen;"
                        class="badge badge-success">Kész</span>
                  <span [hidden]="tv?.isItStillInProgress" style="color: red" class="badge badge-danger">Javítás alatt áll</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!--         Add Tv Modal   -->
      <div class="modal fade" tabindex="-1" role="dialog"
           id="addTvModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title text-center"><b>Új Tv</b></h2>
              <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>
                <form #newTvForm="ngForm" (ngSubmit)="onAddNewTv(newTvForm)">
                  <div class="form-group">
                    <label>Email</label>
                    <input type="text" name="personEmail" class="form-control" readonly
                           [(ngModel)]="loggedInUser.email">
                  </div>
                  <div class="form-group">
                    <label>Márka</label>
                    <select name="tvCategoryDescription" required ngModel="null" class="form-control">
                      <option value="null">Válassz márkát</option>
                      <option *ngFor="let cat of tvCategories"
                              value="{{cat?.description}}">{{cat?.description}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Hiba:</label>
                    <input type="text" name="errorSeenByCustomer" required ngModel class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Idopont:</label>
                    <input type="date" name="reservedDateToRepair" required ngModel class="form-control">
                  </div>
                  <button type="submit" style="display: none;" id="new-tv-save"></button>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="new-tv-close">Close</button>
              <button type="button" (click)="saveNewTv()" [disabled]="newTvForm.invalid" class="btn btn-primary">Save
                changes
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--   Add Tv Modal-end   -->

      <!--         Update Tv Modal   -->
      <div class="modal fade" tabindex="-1" role="dialog"
           id="updateTvModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center">Új Tv</h5>
              <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>
                <form #updateTvForm="ngForm" (ngSubmit)="onUpdateTv(updateTvForm)">
                  <div class="form-group">
                    <label>Email</label>
                    <input type="text" name="personEmail" class="form-control" readonly
                           [(ngModel)]="loggedInUser.email">
                  </div>
                  <div class="form-group">
                    <label>Márka</label>
                    <select name="tvCategoryDescription" required ngModel="null" class="form-control">
                      <option value="null">Válassz márkát</option>
                      <option *ngFor="let cat of tvCategories"
                              value="{{cat?.description}}">{{cat?.description}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Hiba:</label>
                    <input type="text" name="errorSeenByCustomer" required ngModel class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Idopont:</label>
                    <input type="date" name="reservedDateToRepair" required ngModel class="form-control">
                  </div>
                  <button type="submit" style="display: none;" id="update-tv-save"></button>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="update-tv-close">Close
              </button>
              <button type="button" (click)="saveNewTv()" [disabled]="newTvForm.invalid" class="btn btn-primary">Save
                changes
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--   Update Tv Modal-end   -->
      <!--   Tv info modal   -->
      <button [hidden]="true" type="button" id="openTvInfo" data-bs-toggle="modal" data-bs-target="#viewTvInfoModal">
      </button>
      <!--   Tv edit   -->
      <button [hidden]="true" type="button" id="openTvEdit" data-bs-toggle="modal" data-bs-target="#editTvModal">
      </button>

      <!--   Tv info modal   -->
      <div class="modal fade bd-example-modal-lg" id="viewTvInfoModal" tabindex="-1" role="dialog" aria-labelledby=""
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title text-center" id="exampleModalLongTitle"><b>{{selectedTv?.tvCategoryDescription}}</b>
              </h3>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>
                <div class="card">

                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"> {{selectedTv?.tvCategoryDescription}}</li>
                    <li class="list-group-item"><i class="fa-solid fa-triangle-exclamation float-right"></i> {{selectedTv?.errorSeenByCustomer}}
                    </li>
                    <li class="list-group-item"><i class="fas fa-calendar float-right"></i> {{selectedTv?.reservedDateToRepair | date:'fullDate'}}
                    </li>
                    <li  *ngIf="selectedTv?.repairedError" class="list-group-item"><i class="fas fa-bug-slash float-right"></i>{{selectedTv?.repairedError}}
                    <li *ngIf="selectedTv?.dateOfCorrection" class="list-group-item"><i
                      class="fas fa-calendar float-right"></i>{{selectedTv?.dateOfCorrection | date:'fullDate'}}
                    </li>
                    <li  *ngIf="selectedTv?.price" class="list-group-item"><i
                      class="fas fa-calendar float-right"></i>{{selectedTv?.price }}
                    </li>

                    <li class="list-group-item">
                    <span [hidden]="selectedTv?.isItStillInProgress">
                      <i class="fa-solid fa-spinner float-right" style="color: red;">
                      </i>
                     Javítás alatt
                    </span>
                      <span [hidden]="!selectedTv?.isItStillInProgress">
                      <i class="fa-solid fa-circle-check float-right" style="color: lawngreen;">
                      </i>
                      Kész
                    </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!--   Tv info modal end   -->
    </div>
  </div>
</div>
