<!--Navbar-->
<div style="margin-bottom: 1%; margin-top: 1%;" class="container bootstrap snippets bootdey">

  <ul class="nav nav-pills nav-with-alerts">
    <li class="col-lg-3" >
      <a  routerLink="/index" data-toggle="tab">
        <div class="alert alert-info">
          <i class="fa-solid fa-globe"></i>
          Kezdőlap/Index page
        </div>
      </a>
    </li>
    <li class="col-lg-3">
      <a routerLink="/register" data-toggle="tab">
        <div class="alert alert-info">
          <i class="fa-solid fa-id-card"></i>
          Regisztráció/Registration

        </div>
      </a>
    </li>
    <li class="col-lg-3">
      <a routerLink="/login" data-toggle="tab">
        <div class="alert alert-info">
          <i class="fa-solid fa-terminal"></i>
          Bejelentkezés/Log in

        </div>
      </a>
    </li>
    <li  class="col-lg-3">
      <a routerlink="/reset-password" data-toggle="tab">
        <div class="alert alert-info">
          <i class="fa-solid fa-ticket"></i>
          Új jelszó kérése/Reset password

        </div>
      </a>
    </li>
  </ul>

</div>
<!--Navbar end-->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card text-dark bg-info mb-3">
        <div class="card-body">
          <h3 class="card-header card-title">Mit is lehet csinálni ezen a weboldalon?</h3>
          <div class="card-text">Ezen a oldalon lehet időpontot foglalni, hogy mikor szeretné hozni a TV-jét javításra</div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card text-dark bg-info mb-3">
        <div class="card-body">
          <h3 class="card-title card-header">What can you do on this website?</h3>
        </div>
      </div>
    </div>

  </div>
</div>






