<app-navbar></app-navbar>

<button [hidden]="true" type="button" id="openUserInfo" data-bs-toggle="modal" data-bs-target="#viewUserInfoModal">
</button>
<!--Main container-->
<div class="container">
  <!-- Main content -->
  <div class="row">
    <!--    Users    -->
    <div class="col-md-5">

      <div class="card bg-info">
        <div class="card-body">
          <h4 class="card-header bg-info"><b>Users</b></h4>
          <div class="card-text table-responsive">
            <!--            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table table-striped table-hover ">-->
            <!--              <thead class="table-borderless ">-->
            <!--              <tr class="text-center align-middle">-->
            <!--                <th>#</th>-->
            <!--                <th>Teljes név</th>-->
            <!--                <th>Email</th>-->
            <!--                <th>Felhasználónév</th>-->
            <!--              </tr>-->
            <!--              </thead>-->
            <!--              <tbody *ngFor="let appUser of users; let i = index">-->
            <!--              <tr class="text-center align-middle">-->
            <!--                <td>{{i + 1}}</td>-->
            <!--                <td (click)="onSelectUser(appUser)">{{appUser?.lastName}} {{appUser?.firstName}}</td>-->
            <!--                <td (click)="onSelectUser(appUser)">{{appUser?.email}}</td>-->
            <!--                <td (click)="onSelectUser(appUser)">{{appUser?.username}}</td>-->
            <!--              </tr>-->
            <!--              </tbody>-->
            <!--            </table>-->
            <!--Filter-->
            <mat-form-field appearance="standard">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="PL.: su" #input>
            </mat-form-field>

            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef> #</th>
                <td (click)="onSelectUser(user)" mat-cell *matCellDef="let i = index; let user;"> {{i + 1}}.</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Teljes név</th>
                <td (click)="onSelectUser(user)" mat-cell
                    *matCellDef="let user"> {{user.lastName}} {{user.firstName}}</td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td (click)="onSelectUser(user)" mat-cell *matCellDef="let user"> {{user.email}}</td>
              </ng-container>

              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef>Felhasználó név</th>
                <td (click)="onSelectUser(user)" mat-cell *matCellDef="let user"> {{user.username}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20] " [length]="users.length"
                           showFirstLastButtons [pageSize]="2"

                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
        </div>
      </div>


    </div>
    <!--    Users end    -->
    <!--    TV list-->
    <div *ngIf="selectedUser.firstName !== '' " class="col-md-7">

      <div class="card">
        <div *ngIf="selectedUsersTvs.length === 0" class="card-body">
          <div class="card-header ">
            Nincs tv hozzárendelve <b>{{selectedUser.lastName}} {{selectedUser.firstName}}</b> felhasználóhoz.
          </div>
        </div>
        <div *ngIf="selectedUsersTvs.length !== 0" class="card-body">
          <div class="card-header text-black">
            {{selectedUser.firstName}} TV-i
          </div>
          <div class="card-text table-responsive">
            <table class="table table-light table-striped table-hover ">
              <thead class="table-borderless ">
              <tr class="text-center align-middle">
                <th>#</th>
                <th>Márka</th>
                <th>Észlelt hiba</th>
                <th>Lefoglalt időpont</th>
                <th>Javított hiba</th>
                <th>Javítás dátuma</th>
                <th>Javítás ára</th>
                <th>Javítás állapota</th>
                <th>Update</th>
              </tr>
              </thead>
              <tbody *ngFor="let tv of selectedUsersTvs; let i = index">
              <tr class="text-center align-middle">
                <td>{{i + 1}}</td>
                <td>{{tv?.tvCategoryDescription}}</td>
                <td>{{tv?.errorSeenByCustomer}}</td>
                <td>{{tv?.reservedDateToRepair | date:'fullDate'}}</td>
                <td>{{tv?.repairedError}}</td>
                <td>{{tv?.dateOfCorrection | date:'fullDate'}}</td>

                <td>{{tv?.price}}</td>
                <td>
                  <span [hidden]="!tv?.isItStillInProgress" style="color: lawngreen;"
                        class="badge badge-success">Kész</span>
                  <span [hidden]="tv?.isItStillInProgress " style="color: red" class="badge badge-danger">Javítás alatt áll</span>
                </td>
                <td>
                  <button class="btn btn-outline-info" (click)="onEditTvByAdmin(tv)"><i class="fas fa-edit"></i>

                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--    tv list end-->

  </div>
  <!-- User details -->
  <div *ngIf="selectedUser.firstName !== ''" style="margin-top: 1%;" class="row">
    <div class="col">
      <div class="card bg-info">
        <h3 class="card-header bg-info text-center" id="exampleModalLongTitle">
          <b>{{selectedUser?.lastName}} {{selectedUser?.firstName}}</b>
          <button style="margin-left: 1%;" class="btn btn-outline-primary" (click)="onEditUserByAdmin(selectedUser)">
            <i class="fas fa-edit"></i>
          </button>
        </h3>

        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item user_list"><b>Email:</b>  {{ selectedUser?.email}}</li>
            <li class="list-group-item user_list"><b>Felhasználónév:</b> {{ selectedUser?.username}}</li>
            <li class="list-group-item user_list" title="lakcim"><b>Lakcím:</b> {{ selectedUser?.address}}</li>
            <li class="list-group-item user_list" title="Vonalas telefon"><b>Vonalas
              telefon:</b> {{ selectedUser?.phoneFix}}</li>
            <li class="list-group-item user_list" title="Mobil telefon">
              <b>Mobiltelefon:</b> {{ selectedUser?.phoneMobile}}</li>
            <li class="list-group-item user_list"
                title="Csatlakozas datuma"><b>Csatlakozás dátuma:</b> {{ selectedUser?.joinDate | date: 'fullDate'}}
            </li>
            <li class="list-group-item user_list"
                title="Legutobbi bejelentkezes"><b>Utolsó bejelentkezés
              dátuma:</b> {{ selectedUser?.lastLoginDate | date: 'fullDate'}}</li>
            <li class="list-group-item user_list" title="Aktivitas">
                  <span [hidden]="selectedUser?.isActive">
                      <i class="fa-solid fa-eye float-right" style="color: limegreen;">
                      </i>
                     Aktiv
                    </span>
              <span [hidden]="!selectedUser?.isActive">
                      <i class="fa-solid fa-eye-slash float-right" style="color: red;">
                      </i>
                     Inaktiv
                    </span>

            </li>

            <li class="list-group-item user_list" title="Zarolas">
                  <span [hidden]="selectedUser?.isNotLocked">
                      <i class="fa fa-unlock float-right" style="color: green;">
                      </i>
                     Nem zárolt
                    </span>
              <span [hidden]="!selectedUser?.isNotLocked">
                      <i class="fa fa-lock float-right" style="color: red;">
                      </i>
                     Zárolt
                    </span>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--  User details end-->

  <!-- Main content end -->

  <!-- Edit Tv Modal -->
  <div class="modal draggable fade bd-example-modal-lg" id="editTvByAdminModal" tabindex="-1"
       role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center">Edit {{selectedUser?.firstName}}
            Tvje</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="">
            <form #editTvForm="ngForm">
              <div class="form-group" hidden>
                <label>TV ID</label>
                <input type="text" name="firstName" required readonly
                       [(ngModel)]="updateTv.externalId" class="form-control">
              </div>
              <div class="form-group">
                <label>Tv márkája</label>
                <span class="form-control">
                  {{updateTv.tvCategoryDescription}}
                </span>

              </div>
              <div class="form-group">
                <label>Ügyfél által észlelt hiba</label>
                <span class="form-control">
                  {{updateTv.errorSeenByCustomer}}
                </span>
              </div>
              <div class="form-group">
                <label>Javítás állapota</label>
                <span *ngIf="!updateTv.isItStillInProgress" class="form-control">
                  Javitas alatt
                </span>
                <span *ngIf="updateTv.isItStillInProgress" class="form-control">
                  Kesz
                </span>
              </div>
              <div class="form-group">
                <label>Javitott hiba</label>
                <input type="text" name="repairedError" [(ngModel)]="updateTv.repairedError" class="form-control">
              </div>
              <div class="form-group">
                <label>Javitás ára</label>
                <input type="text" name="price" [(ngModel)]="updateTv.price" class="form-control">
              </div>
              <div *ngIf="updateTv?.dateOfCorrection" class="form-group">
                <label>Javítás időpontja</label>
                <input type="text" name="dateOfCorrection" [(ngModel)]="updateTv.dateOfCorrection" class="form-control">

              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeEditTvModalButton">Close
          </button>
          <button type="button" (click)="onUpdateTvByAdmin()" [disabled]="editTvForm.invalid" class="btn btn-primary">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Edit Tv Modal end -->

  <!-- Edit User Modal -->
  <div class="modal draggable fade bd-example-modal-lg" id="editUserByAdminModal" tabindex="-1"
       role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-center"><b>{{selectedUser?.firstName}}</b> adatainak a módosítása</h3>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="">
            <form #editUserForm="ngForm">
              <div class="form-group">
                <label>Email</label>
                <input type="text" name="email" required
                       [(ngModel)]="editUser.email" class="form-control">
              </div>
              <div class="form-group ">
                <label>Last Name</label>
                <input type="text" name="lastName" [(ngModel)]="editUser.lastName" class="form-control">
              </div>
              <div class="form-group">
                <label>First Name</label>
                <input type="text" name="firstName" [(ngModel)]="editUser.firstName" class="form-control">
              </div>
              <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" [(ngModel)]="editUser.username" class="form-control">
              </div>
              <div class="form-group">
                <label>Address</label>
                <input type="text" name="address" [(ngModel)]="editUser.address" class="form-control">
              </div>

              <div class="form-group">
                <label>Fix phone number</label>
                <input type="tel" name="phoneFix" [(ngModel)]="editUser.phoneFix"
                       class="form-control">
              </div>
              <div class="form-group">
                <label>Mobile phone number</label>
                <input type="tel" name="phoneMobile" [(ngModel)]="editUser.phoneMobile"
                       class="form-control">
              </div>


              <div class="form-group">
                <label>Role </label>
                <select name="role" required [(ngModel)]="editUser.role" class="form-control">
                  <option value="ROLE_USER">USER</option>
                  <option value="ROLE_HR">HR</option>
                  <option value="ROLE_MANAGER">MANAGER</option>
                  <option value="ROLE_ADMIN">ADMIN</option>
                  <option value="ROLE_SUPER_ADMIN">SUPER ADMIN</option>
                </select>
              </div>
              <fieldset class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input name="active" type="checkbox" [(ngModel)]="editUser.isActive"
                           class="form-check-input">
                    Inacitve
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input name="locked" type="checkbox" [(ngModel)]="editUser.isNotLocked"
                           class="form-check-input">
                    Locked
                  </label>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeEditUserModalButton">Close
          </button>
          <button type="button" (click)="onUpdateUserByAdmin(editUserForm)" [disabled]="editUserForm.invalid"
                  class="btn btn-primary">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Edit User Modal end -->


</div>
<!--Main container end-->
<button [hidden]="true" type="button" id="openTvEdit" data-bs-toggle="modal" data-bs-target="#editTvByAdminModal">
</button>
<button [hidden]="true" type="button" id="openUserEdit" data-bs-toggle="modal" data-bs-target="#editUserByAdminModal">
</button>
