.user_list{
  background-color: #b1cde5;
}
table {
  width: 100%;
}
table td {
  cursor: pointer;
}
mat-form-field {
  width: 100%;
}
html{
  background-color: #3391ED;
}
.card_custom{
  background-color: #6ea6d7;
}
button {
  border-radius: 25px;
  font-size: 18px;
}
