<app-navbar></app-navbar>

<div  class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
      <div class="card text-dark bg-info">
        <div class="card-body">
          <h4 class="card-title">Új jelszó kérése</h4>
          <div class="card-text">
            <form #forgotPassword="ngForm" (ngSubmit)="onResetPassword()">

              <div class="row">
                <div class="col">
                  <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <mat-form-field class="form-control" appearance="fill">
                      <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Adjon meg létező email címet!
                      </mat-error>
                      <mat-error *ngIf="emailFormControl.hasError('required')">
                        Az email-t <strong>kötelező</strong> megadni.
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary" name="button" [disabled]="emailFormControl.hasError('email') ||
                   emailFormControl.hasError('required') || showLoading">
                    <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i> &nbsp;&nbsp;
                    <span *ngIf="showLoading"> Betöltés...</span>
                    <span *ngIf="!showLoading" >Új jelszó</span>
                  </button>
                </div>
              </div>

            </form>
          </div>
          <div class="mt-4">
            <div class="d-flex justify-content-center links">
              Van már fiókja? Még nincs. <a routerLink="/register" class="ml-2" style="color: #2C3E50; margin-left: 1%;">Regisztráljon</a>
            </div>
            <div class="d-flex justify-content-center links">
              Már regisztrált? <a routerLink="/login" class="ml-2" style="color: #2C3E50; margin-left: 1%;">Jelentkezzen be</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>



